# Top-most EditorConfig file
root = true

[*]
trim_trailing_whitespace = true
insert_final_newline = true

# Set default charset to UTF-8
[*.{md,sh}]
charset = utf-8

[*.sh]
indent_style = tab
indent_size = 4

[*.md]
indent_style = space
indent_size = 2
